@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 15, 23, 42;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width: 640px) {
  .event-signup form {
    padding: 1rem;
  }

  .event-signup form label {
    font-size: 0.875rem;
  }

  .event-signup form input,
  .event-signup form textarea,
  .event-signup form button {
    font-size: 0.875rem;
    padding: 0.5rem;
  }
}

.hero {
  background: linear-gradient(to bottom, #00f260, #0575e6);
  padding: 4rem 0;
  text-align: center;
}

.hero-text {
  animation: fadeIn 1s ease-in-out;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-buttons {
  animation: fadeIn 1s ease-in-out;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
